
body {
    background: url(../images/background.png);
}

main {
    margin: 15px 15px 90px;
    padding: 15px;

}

p {
    margin-top: 10px;
}

h2 {
    color: #4aaaa5;
}

footer {
    padding: 7px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.btn-submit {
    background-color: #4aaaa5;
    color: white;
}

.nav-container {
    padding: 0;
}

.a-nav {
    font-size: 1.2em;
}

.headshot {
    float: left;
    margin: 0px 15px 15px 0px;
    padding-right: 15px;
}

.btn-mid {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0;
}

.nav-name {
    background-color: #4aaaa5;
    padding: 10px;
    color: white;
    margin-bottom: 0;
}

.nav-row {
    border-bottom: 2px solid #cccccc;
    padding-top: 15px;
}

.content-head {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.bg-f {
    background-color: #ffffff;
}

.overlay-text {
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    background-color: #4aaaa5;
    padding: 10px;
    color: white;
    margin: 15px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.link-img {
    margin: 10px 0px;
}

.no-flex {
    display: block;
}